.btnDownloadCv {
  font-size: clamp(1.25rem, 1.5vw, 1.5rem);
  letter-spacing: 1px;
  font-weight: 500;

  padding: 12px 20px;

  color: var(--side-background-color);
  border-radius: 10px;
  background: var(--hover-text-color);
  filter: brightness(1.1);
  // box-shadow: 0px 0px 5px 0.5px var(--title-color);
  
  transition: 0.3s ease;
    
  &:hover {
    transform: scale(.9);
    background: var(--title-color);
    color: var(--hover-text-color);
  }
}
